<div class="footer hidden-xs hidden-sm">
  <div class="footer-content">

      <div class="footer-details">
      <ul>Pastoor Gillisstraat 114</ul>
      <ul>5121 CG</ul>
      <ul>Rijen</ul>
    </div>

    <div class="footer-details">
      <ul>+31 639777370</ul>
      <ul>info@didjeridu.nl</ul>
      <ul>KVK: 18058320</ul>
      <ul>t.n.v. Terpstra Didjeridu's</ul>
    </div>

    <div class="footer-icons">
    <p>U vindt mij ook op: </p>
      <%= link_to "<i class='fa fa-facebook' aria-hidden='true'></i>".html_safe, "https://www.facebook.com/terpstramusic/", target: :_blank %>
      <%= link_to "<i class='fa fa-soundcloud' aria-hidden='true'></i>".html_safe, "https://soundcloud.com/jan-terpstra-1", target: :_blank %>
      <%= link_to "<i class='fa fa-linkedin' aria-hidden='true'></i>".html_safe, "https://www.linkedin.com/in/jan-terpstra-84495213/", target: :_blank %>
      <%= link_to "<i class='fa fa-youtube' aria-hidden='true'></i>".html_safe, "https://www.youtube.com/user/terpstramusic", target: :_blank %>
    </div>
  </div>
</div>

<!-- mobile only -->
<div class="footer hidden-md hidden-lg">
    <div class="footer-details-mobile">

     <div class="footer-icons">
        <p>U vindt mij ook op: </p>
          <%= link_to "<i class='fa fa-facebook' aria-hidden='true'></i>".html_safe, "https://www.facebook.com/terpstramusic/", target: :_blank %>
          <%= link_to "<i class='fa fa-soundcloud' aria-hidden='true'></i>".html_safe, "https://soundcloud.com/jan-terpstra-1", target: :_blank %>
          <%= link_to "<i class='fa fa-linkedin' aria-hidden='true'></i>".html_safe, "https://www.linkedin.com/in/jan-terpstra-84495213/", target: :_blank %>
          <%= link_to "<i class='fa fa-youtube' aria-hidden='true'></i>".html_safe, "https://www.youtube.com/user/terpstramusic", target: :_blank %>
      </div>
    </div>
    <div class="footer-details-mobile">
      <ul><b>Contactgegevens:</b></ul>
      <ul>Pastoor Gillisstraat 114</ul>
      <ul>5121 CG</ul>
      <ul>Rijen</ul>
    </div>

       <div class="footer-details-mobile">
      <ul>+31 639777370</ul>
      <ul>info@didjeridu.nl</ul>
      <ul>KVK: 18058320</ul>
      <ul>t.n.v. Terpstra Didjeridu's</ul>
    </div>
</div>
