<div class="container hidden-xs hidden-sm">
  <h3>Koren</h3>
  <p>Onderstaande koren zijn de koren waar ik momenteel dirigeer</p>
  <div class="box">
    <img src="http://res.cloudinary.com/do6jihcuc/image/upload/v1504534831/dirigent_vjywqu.jpg" style="width:256px;height:170px">
    <div class="box-text">
    <h4>Stedelijk Leerdams Mannenkoor Zang en Vriendschap</h4>
      <ul>
        <li>Dirigent sinds 2001</li>
        <li>Klassiek, licht klassiek, opera en oa. operette repertoire</li>
        <li>Mannenkoort van zo'n 55 mannen</li>
        <li>Samengewerkt met oa. <%= link_to "Bert van den Brink", "http://www.bertvandenbrink.com/", target: "_blank" %> (piano/orgel/accordeon), <%= link_to "Emma van den Dool", "http://www.elmavandendool.nl/", target: "_blank" %> en <%= link_to "Ioan Micu", "http://www.grootomroepkoor.nl/ioan-micu-0", target: "_blank" %> (sopraan en tenor Groot Omroep Koor), <%= link_to "Klaartje van Veldhoven", "http://www.klaartjevanveldhoven.nl/2017/", target: "_blank" %> (sopraan) en Arwin Kluft (tenor)</li>
      </ul>
      <%= link_to "Meer over Leerdams Mannenkoor", "http://www.leerdamsmannenkoor.nl/", target: "_blank" %>
    </div>
  </div>
  <div class="box">
    <img src="http://res.cloudinary.com/do6jihcuc/image/upload/v1504706691/Dongens_mannenkoor_pxrkzy.jpg" style="width:256px;height:170px">
    <div class="box-text">
    <h4>Dongens Mannenkoor</h4>
     <ul>
        <li>Dirigent sinds 2006</li>
        <li>Klassiek, licht klassiek, opera en pop repetoire</li>
        <li>Mannenkoort van zo'n 40 mannen</li>
        <li>Samengewerkt met oa. <%= link_to "Sara Moreira Marques", "http://www.saramoreiramarques.com/", target: "_blank" %> (sopraan), <%= link_to "Oosterhoutse Nachtegalen", "http://oosterhoutsenachtegalen.nl/", target: "_blank" %>, <%= link_to "Mandolinenorkest Estrellita", "http://www.estrellita.nl/over/index.htm", target: "_blank" %>, <%= link_to "André Cruz", "http://davidagome5.wixsite.com/andre-cruz", target: "_blank" %> (tenor) en Hesther Oor (sopraan)
      </ul>
      <%= link_to "Meer over Dongens Mannenkoor", "https://www.dongensmannenkoor.nl/index.php/nl/", target: "_blank"  %>
    </div>
  </div>
  <div class="box">
    <img src="http://res.cloudinary.com/do6jihcuc/image/upload/v1504706856/ExpresZo_vxexhf.jpg" style="width:256px;height:170px">
    <div class="box-text">
    <h4>Popkoor ExpresZo uit Geffen</h4>
      <ul>
        <li>Dirigent sinds 2016</li>
        <li>Pop en wereldlijk repetoire</li>
        <li>Zo'n 25 leden</li>
        <li>A capella, met piano en met combo tot zes stemmig</li>
        <li>Uit het hoofd, met staging. Samengewerkt met oa. <%= link_to "JazzWerk", "http://www.jazzwerk.nl/", target: "_blank" %> en <%= link_to "Eefje Thomassen", "http://eefjethomassen.nl/Eefje_Thomassen.html"  %></li>
      </ul>
      <%= link_to "Meer over Popkoor ExpresZo", "http://www.expreszo-maasdonk.nl/", target: "_blank" %>
    </div>
  </div>
  <div class="box-last">
    <img src="http://res.cloudinary.com/do6jihcuc/image/upload/v1504706924/liederenkring_aptdos.jpg" style="width:256px;height:170px">
    <div class="box-text">
    <h4>De Liederenkring Uldenhout</h4>
      <ul>
        <li>Dirigent sinds 2016</li>
        <li>Klassiek, licht klassiek en licht repetoire</li>
        <li>Zo'n 25 leden</li>
        <li>Tot zes stemmige a capella zang</li>
      </ul>
      <%= link_to "Meer over de Liederenkring", "http://www.lierenkring.nl", target: "_blank" %>
    </div>
  </div>
</div>

<!-- MOBIEL!! -->
<div class="container hidden-md hidden-lg">
  <h3>Koren</h3>
  <p>Onderstaande koren zijn de koren waar ik momenteel dirigeer</p>
  <div class="row">
    <div class="col-xs-12">
    <h4>Stedelijk Leerdams Mannenkoor Zang en Vriendschap</h4>
      <img src="http://res.cloudinary.com/do6jihcuc/image/upload/v1504534831/dirigent_vjywqu.jpg" style="width:90vw;height:170px">
    </div>
    <div class="col-xs-12 text-mobile">
      <ul>
        <li>Dirigent sinds 2001</li>
        <li>Klassiek, licht klassiek, opera en oa. operette repertoire</li>
        <li>Mannenkoort van zo'n 55 mannen</li>
        <li>Samengewerkt met oa. <%= link_to "Bert van den Brink", "http://www.bertvandenbrink.com/", target: "_blank" %> (piano/orgel/accordeon), <%= link_to "Emma van den Dool", "http://www.elmavandendool.nl/", target: "_blank" %> en <%= link_to "Ioan Micu", "http://www.grootomroepkoor.nl/ioan-micu-0", target: "_blank" %> (sopraan en tenor Groot Omroep Koor), <%= link_to "Klaartje van Veldhoven", "http://www.klaartjevanveldhoven.nl/2017/", target: "_blank" %> (sopraan) en Arwin Kluft (tenor)</li>
      </ul>
       <div class="mobile-card">
          <%= link_to "Meer over Leerdams Mannenkoor", "http://www.leerdamsmannenkoor.nl/", target: "_blank" %>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-xs-12">
     <h4>Dongens Mannenkoor</h4>
    <img src="http://res.cloudinary.com/do6jihcuc/image/upload/v1504706691/Dongens_mannenkoor_pxrkzy.jpg" style="width:90vw;height:170px">
     </div>
    <div class="col-xs-12 text-mobile">
     <ul>
        <li>Dirigent sinds 2006</li>
        <li>Klassiek, licht klassiek, opera en pop repetoire</li>
        <li>Mannenkoort van zo'n 40 mannen</li>
        <li>Samengewerkt met oa. <%= link_to "Sara Moreira Marques", "http://www.saramoreiramarques.com/", target: "_blank" %> (sopraan), <%= link_to "Oosterhoutse Nachtegalen", "http://oosterhoutsenachtegalen.nl/", target: "_blank" %>, <%= link_to "Mandolinenorkest Estrellita", "http://www.estrellita.nl/over/index.htm", target: "_blank" %>, <%= link_to "André Cruz", "http://davidagome5.wixsite.com/andre-cruz", target: "_blank" %> (tenor) en Hesther Oor (sopraan)</li>
      </ul>
      <div class="mobile-card">
      <%= link_to "Meer over Dongens Mannenkoor", "https://www.dongensmannenkoor.nl/index.php/nl/", target: "_blank"  %>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-xs-12">
    <h4>Popkoor ExpresZo uit Geffen</h4>
    <img src="http://res.cloudinary.com/do6jihcuc/image/upload/v1504706856/ExpresZo_vxexhf.jpg" style="width:90vw;height:170px">
   </div>
    <div class="col-xs-12 text-mobile">
      <ul>
        <li>Dirigent sinds 2016</li>
        <li>Pop en wereldlijk repetoire</li>
        <li>Zo'n 25 leden</li>
        <li>A capella, met piano en met combo tot zes stemmig</li>
        <li>Uit het hoofd, met staging. Samengewerkt met oa. <%= link_to "JazzWerk", "http://www.jazzwerk.nl/", target: "_blank" %> en <%= link_to "Eefje Thomassen", "http://eefjethomassen.nl/Eefje_Thomassen.html"  %></li>
      </ul>
      <div class="mobile-card">
      <%= link_to "Meer over Popkoor ExpresZo", "http://www.expreszo-maasdonk.nl/", target: "_blank" %>
    </div>
  </div>
 </div>
 <div class="row">
    <div class="col-xs-12">
    <h4>De Liederenkring Uldenhout</h4>
    <img src="http://res.cloudinary.com/do6jihcuc/image/upload/v1504706924/liederenkring_aptdos.jpg" style="width:90vw;height:170px">
     </div>
    <div class="col-xs-12 text-mobile">
      <ul>
        <li>Dirigent sinds 2016</li>
        <li>Klassiek, licht klassiek en licht repetoire</li>
        <li>Zo'n 25 leden</li>
        <li>Tot zes stemmige a capella zang</li>
      </ul>
        <div class="mobile-card">
        <%= link_to "Meer over de Liederenkring", "http://www.lierenkring.nl", target: "_blank" %>
      </div>
    </div>
  </div>
</div>
